button { 
    border: 0;
    background-color: transparent;
}

.action-link {
    display: block;
    width: 250px;
    padding: .875rem 0;
    font: {
        size: 1.5rem;
        family: $tertiary-font;
    }
    text: {
        align: center;
        decoration: none;
    }
    border-radius: 50px;
    color: $color-over-secondary;
    background-color: $secondary-color;
    transition: color .5s, background-color .5s;

    @include mask("after") {
        z-index: -1;
        top: 50%;
        left: 50%;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        border-radius: 50px;
        border: 1px solid $secondary-color;
        transform: translate(-50%, -50%);
    }

    @include hover-bg-color($c-text, $c-white);
}