<footer class="site-footer" aria-label="Main Site Footer"> 
    <div class="site-footer__top">
        <div class="content-row">

            <div class="content-column">
                <div class="site-footer__title">
                    <a href="/">
                        <div class="first-line">
                            <img src="images/footer_logo.svg" alt="ArtGent Logo">
                            <span class="hidden">ArtGent</span>
                        </div>
                        <div class="second-line">Patinetas Personalizadas</div>
                    </a>
                </div>

                <nav class="footer-primary-menu-wrapper" aria-labelledby="footer_primary_menu_header">
                    <h2 id="footer_primary_menu_header" class="title-tertiary">Enlaces</h2>
                    <ul class="items-list">
                        <li class="menu-item"><a>Skateboards</a></li>
                        <li class="menu-item"><a>Accesorios</a></li>
                        <li class="menu-item"><a>Novedades</a></li>
                        <li class="menu-item"><a>Promociones</a></li>
                    </ul>
                </nav>

                <nav class="footer-secondary-menu-wrapper" aria-labelledby="footer_secondary_menu_header">
                    <h2 id="footer_secondary_menu_header" class="title-tertiary">Planes</h2>
                    <ul class="items-list">
                        <li class="menu-item"><a>Básico</a></li>
                        <li class="menu-item"><a>Medio</a></li>
                        <li class="menu-item"><a>Profesional</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
    <div class="site-footer__bottom">
        <div class="content-row">

            <div class="content-column">
                <nav class="footer-social-links-wrapper" aria-labelledby="footer_social_links_header">
                    <h2 id="footer_social_links_header"><span class="hidden">Enlaces Sociales</span></h2>
                    <ul class="items-list">
                        <li class="menu-item">
                            <a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="23.478" height="23.336" viewBox="0 0 23.478 23.336"><path d="M24.04,12.3A11.739,11.739,0,1,0,10.467,23.9v-8.2H7.485V12.3h2.982V9.715c0-2.942,1.751-4.567,4.434-4.567a18.066,18.066,0,0,1,2.628.229V8.265H16.048A1.7,1.7,0,0,0,14.136,10.1v2.2h3.256l-.521,3.393H14.136v8.2A11.743,11.743,0,0,0,24.04,12.3Z" transform="translate(-0.563 -0.563)"/></svg>
                                <span class="hidden">Facebook</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25.544" height="20.767" viewBox="0 0 25.544 20.767"><path d="M-4.738,18.061q.624.061,1.246.062a10.3,10.3,0,0,0,6.521-2.242A5.05,5.05,0,0,1-.023,14.842a5.107,5.107,0,0,1-1.849-2.6,4.938,4.938,0,0,0,.976.084A5.133,5.133,0,0,0,.5,12.142a5.053,5.053,0,0,1-3.022-1.8A5.078,5.078,0,0,1-3.72,7.012V6.95a4.916,4.916,0,0,0,2.388.644A5.145,5.145,0,0,1-3.045,5.735a5.109,5.109,0,0,1-.633-2.5A5.091,5.091,0,0,1-2.952.6,14.57,14.57,0,0,0,1.815,4.469,14.751,14.751,0,0,0,7.848,6.078a5.893,5.893,0,0,1-.146-1.2,5.04,5.04,0,0,1,1.537-3.7A5.065,5.065,0,0,1,12.957-.359,5.035,5.035,0,0,1,16.777,1.3,10.544,10.544,0,0,0,20.1.015a5,5,0,0,1-2.284,2.907,10.7,10.7,0,0,0,2.991-.831,10.055,10.055,0,0,1-2.6,2.72V5.5A15.028,15.028,0,0,1,17.6,9.7a14.964,14.964,0,0,1-1.869,4.03,16.044,16.044,0,0,1-3,3.415,13.3,13.3,0,0,1-4.185,2.378,15.293,15.293,0,0,1-5.244.882A14.713,14.713,0,0,1-4.738,18.061Z" transform="translate(4.738 0.359)"/></svg>
                                <span class="hidden">Twitter</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20.767" height="20.767" viewBox="0 0 20.767 20.767"><path d="M8.517,1.928l-1.4,2.783L5.71,1.928H3.921L6.45,6.335l.015-.009V9.716h1.3V6.327l.015.009,2.529-4.407Zm3.789,2.6a.658.658,0,0,1,.649.649v2.6a.649.649,0,1,1-1.3,0v-2.6a.658.658,0,0,1,.649-.649Zm0-1.3a1.953,1.953,0,0,0-1.947,1.947v2.6a1.947,1.947,0,1,0,3.894,0v-2.6A1.953,1.953,0,0,0,12.305,3.226Zm5.841,0v5.11c-.566.472-1.3.757-1.3-.925V3.226h-1.3V7.674h0c.02,1.073.246,3,2.594,1.434v.608h1.3V3.226h-1.3Zm1.947,12.98a.65.65,0,0,0-.649.649V17.5h1.3v-.649A.65.65,0,0,0,20.093,16.206Zm-5.841.649v3.407c.439.439,1.3.487,1.3-.162V17.057C15.55,16.408,14.9,16.206,14.252,16.855Zm8.98-3.133a2.7,2.7,0,0,0-2.654-2.6c-1.415-.071-4.653-.106-7.5-.106s-6.313.035-7.728.106a2.7,2.7,0,0,0-2.654,2.6c-.085,1.523-.127,2.076-.127,2.837s.042,1.9.127,3.428a2.7,2.7,0,0,0,2.654,2.6c1.415.07,4.884.106,7.728.106s6.083-.035,7.5-.106a2.7,2.7,0,0,0,2.654-2.6q.106-1.9.106-3.428c0-1.016-.035-1.568-.106-2.837ZM6.465,21.4h-1.3v-6.49h-1.3v-1.3H7.763v1.3h-1.3Zm5.192,0h-1.3V20.79c-2.467,1.385-2.574.045-2.594-1.028h0V16.206h1.3v3.576c0,.784.732.708,1.3.236V16.206h1.3Zm5.192-1.316c0,1.357-1.389,1.752-2.6.7V21.4h-1.3V13.61h1.3v2.109c1.3-1.3,2.6-.811,2.6.487ZM22.04,17.5v.649h-2.6v1.3a.649.649,0,1,0,1.3,0V18.8h1.3v.649a1.947,1.947,0,1,1-3.894,0v-2.6a1.947,1.947,0,0,1,3.894,0Z" transform="translate(-2.571 -1.928)"/></svg>
                                <span class="hidden">Youtube</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</footer>