<header class="site-header" aria-label="Main Site Header">
    <div class="content-row">

        <div class="content-column">
            <h1 class="site-header__title">
                <a href="/">
                    <div class="first-line">
                        <img src="images/header_logo.svg" alt="ArtGent Logo">
                        <span class="hidden">ArtGent</span>
                    </div>
                    <div class="second-line">Patinetas Personalizadas</div>
                </a>
            </h1>
            <div class="site-header__navigation">
                <button class="menu-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="41" height="26"><path id="bar3" d="M8 10h25v6H8z"/><path id="bar2" d="M0 20h25v6H0z"/><path id="bar1" d="M16 0h25v6H16z"/></svg>
                    <span class="hidden">Bottón Menú Secundario</span>
                </button>
                <div class="site-header__navigation-inner">
                    <nav class="header-primary-menu-wrapper" aria-labelledby="header_primary_menu_header">
                        <h2 id="header_primary_menu_header" class="hidden">Menú Primario - Cabezera</h2>
                        <ul class="header-primary-menu">
                            <li class="menu-item"><a>Skateboards</a></li>
                            <li class="menu-item"><a>Accesorios</a></li>
                            <li class="menu-item"><a>Novedades</a></li>
                            <li class="menu-item"><a>Promociones</a></li>
                        </ul>
                    </nav>

                    <nav class="header-secondary-menu-wrapper" aria-labelledby="header_secondary_menu_header">
                        <h2 id="header_secondary_menu_header" class="hidden">Menú Secundario - Cabezera</h2>
                        <ul class="header-secondary-menu">
                            <li class="menu-item"><a>Historia</a></li>
                            <li class="menu-item"><a>Equipo</a></li>
                            <li class="menu-item"><a>Trabaja con nosotros</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="content-column">
            <div class="site-header__topbar">
                <nav class="topbar-menu-wrapper" aria-labelledby="topbar_menu_header">
                    <h2 id="topbar_menu_header" class="hidden">Menu Barra Superior - Cabezera</h2>
                    <ul class="topbar-menu">
                        <li class="menu-item"><a>Nosotros</a></li>
                        <li class="menu-item"><a>Atención</a></li>
                        <li class="menu-item"><a><svg xmlns="http://www.w3.org/2000/svg" width="16.446" height="16.446" viewBox="0 0 16.446 16.446"><path d="M8.223,9.251A4.626,4.626,0,1,0,3.6,4.626,4.627,4.627,0,0,0,8.223,9.251Zm4.112,1.028h-1.77a5.592,5.592,0,0,1-4.683,0H4.112A4.111,4.111,0,0,0,0,14.391V14.9a1.542,1.542,0,0,0,1.542,1.542H14.9A1.542,1.542,0,0,0,16.446,14.9v-.514A4.111,4.111,0,0,0,12.335,10.279Z"/></svg> Usuario</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</header>