<main class="site-main" aria-labelledby="Main Site Content" tabindex="-1" role="main">
    <div class="content-row">
        <div class="content-column">
            
            {{> ../modules/hero }}
            {{> ../modules/spotlights }}
            {{> ../modules/cards }}
            {{> ../modules/infographics }}

        </div>
    </div>
</main>