<div class="content-main content-cards">
    <div class="content-inner">
        <section class="tabs cards" aria-label="Planes">
            <ul class="items-list" role="tablist" aria-label="Programming Languages">
                <li class="item tab" role="tab" aria-selected="false" id="card1" style="background-image: url(images/card1.jpg)" tabindex="-1">
                    <div class="item-inner">
                        <div class="name title-secondary">Básico</div>
                        <div class="price-wrapper">
                            <div class="price"><span>$</span>50.000</div>
                            <div class="type">Plan Básico</div>
                        </div>
                        <a class="action action-plus"><span class="hidden">Más información</span></a>
                    </div>
                </li>
                
                <li class="item tab" role="tab" aria-selected="true" id="card2" style="background-image: url(images/card2.jpg)" tabindex="0">
                    <div class="item-inner">
                        <div class="name title-secondary">Profesional</div>
                        <div class="price-wrapper">
                            <div class="price"><span>$</span>150.000</div>
                            <div class="type">Plan Profesional</div>
                        </div>
                        <a class="action action-plus"><span class="hidden">Más información</span></a>
                    </div>
                </li>

                <li class="item tab" role="tab" aria-selected="false" id="card3" style="background-image: url(images/card3.jpg)" tabindex="-1">
                    <div class="item-inner">
                        <div class="name title-secondary">Medio</div>
                        <div class="price-wrapper">
                            <div class="price"><span>$</span>125.000</div>
                            <div class="type">Plan Medio</div>
                        </div>
                        <a class="action action-plus"><span class="hidden">Más información</span></a>
                    </div>
                </li>
            </ul>

            <div class="card-panel active" role="tabpanel" aria-labelledby="card1" hidden>             
                <div class="item-summary">
                    <div class="name title-secondary">Básico</div>
                    <div class="text">
                        <span>Diseño único</span> 
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="31.5" height="31.5" viewBox="0 0 31.5 31.5"><path d="M29.25,14.625H19.125V4.5a2.25,2.25,0,0,0-2.25-2.25h-2.25a2.25,2.25,0,0,0-2.25,2.25V14.625H2.25A2.25,2.25,0,0,0,0,16.875v2.25a2.25,2.25,0,0,0,2.25,2.25H12.375V31.5a2.25,2.25,0,0,0,2.25,2.25h2.25a2.25,2.25,0,0,0,2.25-2.25V21.375H29.25a2.25,2.25,0,0,0,2.25-2.25v-2.25A2.25,2.25,0,0,0,29.25,14.625Z" transform="translate(0 -2.25)"/></svg></span>
                        <span>1 impresión del mismo</span>
                    </div>               
                    <div class="action-links-group">
                        <a class="action-link">Inicia ya!</a>
                    </div>
                </div>
            </div>

            <div class="card-panel active" role="tabpanel" aria-labelledby="card2">             
                <div class="item-summary">
                    <div class="name title-secondary">Profesional</div>
                    <div class="text">
                        <span>Diseño único</span> 
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="31.5" height="31.5" viewBox="0 0 31.5 31.5"><path d="M29.25,14.625H19.125V4.5a2.25,2.25,0,0,0-2.25-2.25h-2.25a2.25,2.25,0,0,0-2.25,2.25V14.625H2.25A2.25,2.25,0,0,0,0,16.875v2.25a2.25,2.25,0,0,0,2.25,2.25H12.375V31.5a2.25,2.25,0,0,0,2.25,2.25h2.25a2.25,2.25,0,0,0,2.25-2.25V21.375H29.25a2.25,2.25,0,0,0,2.25-2.25v-2.25A2.25,2.25,0,0,0,29.25,14.625Z" transform="translate(0 -2.25)"/></svg></span>
                        <span>3 impresiones del mismo y set de ruedas que hagan juego con el diseño</span>
                    </div>               
                    <div class="action-links-group">
                        <a class="action-link">Inicia ya!</a>
                    </div>
                </div>
            </div>

            <div class="card-panel" role="tabpanel" aria-labelledby="card3" hidden>             
                <div class="item-summary">
                    <div class="name title-secondary">Medio</div>
                    <div class="text">
                        <span>Diseño único</span> 
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="31.5" height="31.5" viewBox="0 0 31.5 31.5"><path d="M29.25,14.625H19.125V4.5a2.25,2.25,0,0,0-2.25-2.25h-2.25a2.25,2.25,0,0,0-2.25,2.25V14.625H2.25A2.25,2.25,0,0,0,0,16.875v2.25a2.25,2.25,0,0,0,2.25,2.25H12.375V31.5a2.25,2.25,0,0,0,2.25,2.25h2.25a2.25,2.25,0,0,0,2.25-2.25V21.375H29.25a2.25,2.25,0,0,0,2.25-2.25v-2.25A2.25,2.25,0,0,0,29.25,14.625Z" transform="translate(0 -2.25)"/></svg></span>
                        <span>5 impresiones del mismo, set de ruedas que hagan juego con el diseño</span>                        
                    </div>
                    <div class="action-links-group">
                        <a class="action-link">Inicia ya!</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>