<div class="content-main content-hero">
    <div class="content-inner">
        <section class="hero" aria-labelledby="hero_main_header">
            <h2 id="hero_main_header" class="hidden">Banner Principal</h2>
            <figure class="hero__image">
                <img src="../images/hero.jpg" alt="Banner">
                <figcaption class="hero__image-caption">
                    <div class="item-summary">
                        <div class="item-text">
                            <span>Porque</span>
                            <span>A tu estilo</span>
                            <span>Es mejor</span>
                            <span>Personaliza 100% tus patinetas con los mejores estilos y repuestos</span>
                        </div>
                    </div>
                </figcaption>
            </figure>
            <div class="action-links-group">
                <a href="" class="action-link">Inicia ya!</a>
            </div>
        </section>
    </div>
</div>