<div class="content-main content-infographics">
    <div class="content-inner">
        <section class="infographics" aria-labelledby="infographics_header">
            <h2 id="infographics_header" class="title title-section">Nuestros <span>Números</span></h2>
            <ul class="items-list">
                <li class="item">
                    <div class="item-inner">
                        <div class="info-number">+2000</div>
                        <div class="info-text">Clientes</div>
                    </div>                    
                </li>
                <li class="item">
                    <div class="item-inner">
                        <div class="info-number">100%</div>
                        <div class="info-text">Satisfechos</div>
                    </div>
                </li>
                <li class="item">
                    <div class="item-inner">
                        <div class="info-number">30</div>
                        <div class="info-text">Torneos</div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>