<div class="content-main content-spotlights">
    <div class="content-inner">
        <section class="spotlights" aria-labelledby="spotlights_header">
            <h2 id="spotlights_header" class="hidden">Garantías</h2>
            <ul class="items-list">
                <li class="item">
                    <div class="item-inner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50.487" height="32.956" viewBox="0 0 50.487 32.956"><path d="M50.465,111.193c-.2-1-1.937-9.848-2.367-11.139A23.954,23.954,0,0,0,41.457,90.6C38.207,87.675,34.841,86,32.22,86H6.726a2.4,2.4,0,0,0-2.4,2.4v3.765H2.565a1.172,1.172,0,1,0,0,2.344H4.33v2.8H1.172a1.172,1.172,0,1,0,0,2.344H4.33v11.777a2.4,2.4,0,0,0,2.4,2.4H9.649a6.04,6.04,0,0,0,11.944,0H32.344a6.04,6.04,0,0,0,11.944,0h3.8a2.4,2.4,0,0,0,2.4-2.4A1.182,1.182,0,0,0,50.465,111.193ZM45.74,100.417H33.661V88.55C37.94,89.7,43.871,95.392,45.74,100.417ZM15.621,116.608a3.7,3.7,0,1,1,3.7-3.7A3.7,3.7,0,0,1,15.621,116.608Zm22.7,0a3.7,3.7,0,1,1,3.7-3.7A3.7,3.7,0,0,1,38.317,116.608Zm9.716-5.137H44.181a6.039,6.039,0,0,0-11.729,0H21.485a6.039,6.039,0,0,0-11.729,0H6.726a.052.052,0,0,1-.052-.052V99.642H21.04a1.172,1.172,0,1,0,0-2.344H6.674V94.5h6.612a1.172,1.172,0,1,0,0-2.344H6.674V88.392a.052.052,0,0,1,.052-.052h24.59v13.248a1.172,1.172,0,0,0,1.172,1.172H46.346c.5,2.279,1.185,5.932,1.769,8.637C48.127,111.452,48.093,111.47,48.033,111.47Z" transform="translate(0 -85.996)"/></svg>
                        <div class="item-text">
                            <p>Envío gratis a</p>
                            <p>partir de $150.000</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="item-inner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34.837" height="34.835" viewBox="0 0 34.837 34.835"><g transform="translate(0 -0.017)"><g transform="translate(0 0.017)"><path d="M299.589,299.58a.861.861,0,1,0,.606-.25A.807.807,0,0,0,299.589,299.58Z" transform="translate(-277.998 -277.991)"/><path d="M373.265,373.261a.856.856,0,0,0,0,1.212.829.829,0,0,0,.606.25.871.871,0,0,0,.606-.25.857.857,0,0,0-1.212-1.212Z" transform="translate(-346.421 -346.418)"/><path d="M336.365,336.361a.856.856,0,0,0,.606,1.462.871.871,0,0,0,.606-.25.857.857,0,0,0-1.212-1.212Z" transform="translate(-312.152 -312.149)"/><path d="M410.794,409.935a.856.856,0,1,0,0,1.711.877.877,0,0,0,.606-.25.861.861,0,0,0,0-1.212A.89.89,0,0,0,410.794,409.935Z" transform="translate(-380.713 -380.711)"/><path d="M34.587,26.432l-9.61-9.6a3.9,3.9,0,0,1-1.1-3.244A11.909,11.909,0,0,0,20.471,3.533,11.967,11.967,0,0,0,10.219.147,1.518,1.518,0,0,0,9,1.173,1.5,1.5,0,0,0,9.371,2.72L12.743,6.1a3.253,3.253,0,0,1,0,4.591l-2.075,2.075a3.253,3.253,0,0,1-4.591,0L2.7,9.393a1.516,1.516,0,0,0-2.574.848A11.97,11.97,0,0,0,13.563,23.9,3.9,3.9,0,0,1,16.806,25l9.6,9.6a.858.858,0,0,0,.606.25.871.871,0,0,0,.606-.25.856.856,0,0,0,0-1.212l-9.6-9.6A5.6,5.6,0,0,0,13.349,22.2,10.209,10.209,0,0,1,4.73,19.282a10.33,10.33,0,0,1-2.952-8.412l3.094,3.1a4.94,4.94,0,0,0,7,0L13.948,11.9a4.94,4.94,0,0,0,0-7L10.854,1.8a10.342,10.342,0,0,1,8.405,2.944,10.209,10.209,0,0,1,2.923,8.619,5.6,5.6,0,0,0,1.583,4.677l9.6,9.6a.86.86,0,0,0,1.219-1.212Z" transform="translate(0 -0.017)"/></g></g></svg>
                        <div class="item-text">
                            <p>Cambios gratuitos por</p>
                            <p>equipo defectuoso</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="item-inner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="42.105" height="36.302" viewBox="0 0 42.105 36.302"><g transform="translate(0 -17.516)"><path d="M64.285,137.1a1.242,1.242,0,0,0-1.242,1.242V151.11H56.189V138.344a1.242,1.242,0,0,0-1.242-1.242H45.607a1.242,1.242,0,0,0-1.242,1.242V151.11H37.511V138.344a1.242,1.242,0,0,0-2.485,0v14.008a1.242,1.242,0,0,0,1.242,1.242H64.285a1.242,1.242,0,0,0,1.242-1.242V138.344A1.242,1.242,0,0,0,64.285,137.1ZM46.85,151.11V139.587H53.7V151.11Z" transform="translate(-29.224 -99.777)"/><path d="M41.742,37.689,21.93,17.879a1.243,1.243,0,0,0-1.757,0L.364,37.689a1.242,1.242,0,1,0,1.757,1.757L21.052,20.515,39.985,39.446a1.242,1.242,0,0,0,1.757-1.757Z"/></g></svg>
                        <div class="item-text">
                            <p>Oficinas en</p>
                            <p>Medellín y Bogotá</p>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>