.site-header {
    position: relative;
    background-color: $primary-color;
        
    .content {
        &-row { @include flex-all(column); }

        &-column {
            &:last-child { order: 1; }
        }
    }

    &__title {
        display: block;
        margin: 0 auto;
        padding: 1rem 0;
        background-color: $c-white;

        a {
            text: {
                transform: uppercase;
                decoration: none;
            }
            color: $c-text;

            img { width: 150px; }

            > * { text-align: center; }
        }

        .second-line {
            font: {
                size: .75rem;
                weight: 300;
            }
            letter-spacing: 5.14px;
        }
    }

    &__topbar { background-color: $c-white; }

    &__navigation { 
        @include flex-all($justify: center, $align: center);
        overflow: hidden;
        height: 0;
        visibility: hidden;
        transition: all .5s;
    }

    @include respond-to($vp-mid) { 
        &__title a img { width: 247px; }

        &__navigation {
            height: auto;
            margin: 0 auto;
            visibility: visible;
        }
    }

    @include respond-to($vp-max) { 
        .content-column {
            &:first-child {
                > * { flex: 1; }
            }

            &:last-child { order: -1; }
        }

        &__title {
            @include flex-all($align: center);
            position: absolute;
            z-index: 99;
            top: 0;
            left: 0;
            width: 454px;
            height: 202px;
            margin: 0;
            padding: 0;
            background: {
                color: transparent;
                image: url(../images/wave_logo.png);
            }
            @include bg-cover;

            a { 
                position: relative;
                top: -20px;
                margin-left: 75px; 

                img { width: 247px; }
            }
        }

        &__navigation { 
            justify-content: flex-end; 
            width: calc(100% - 150px);
        }
    }
}
