.topbar-menu {
    @include flex-all($justify: center);
    @include stripped-list;

    .menu-item {
        @include flex-all($justify: center, $align: center);
        flex: 0 1 33.3333%;
        height: 50px;
        text-align: center;

        a {
            display: block;
            font: {
                size: .875rem;
                weight: 300;
            }
            text: {
                align: center;
                transform: uppercase;
                decoration: none;
            }
            letter-spacing: 1.75px;
            color: $c-text;

            svg { margin-right: 5px; }

            @include underline-from-left($border-size: 1px, $border-color: $c-black);
        }

        &:last-child {
            a {
                @include flex-all($justify: center, $align: center);
                width: 100%;
                height: 100%;
                color: $color-over-secondary;
                background-color: $secondary-color;

                &:before { content: none; }

                @include hover-bg-color($primary-color, $color-over-primary) {
                    svg { fill: $color-over-primary; }
                }
            }
        }
    }

    @include respond-to($vp-max) {
        justify-content: flex-end; 

        .menu-item {
            flex: none;
            padding: 0 1rem;

            &:last-child { 
                width: 186px;
                padding-right: 0; 
            }
        }
    }
}

.header-primary-menu,
.header-secondary-menu {
    @include stripped-list; 

    .menu-item {
        a {
            margin: 0 1rem;
            font: {
                size: 1.25rem;
                weight: 400;
            }
            text: {
                transform: uppercase;
                decoration: none;
            }
            letter-spacing: 2.5px;
            color: $color-over-primary;

            @include underline-from-left($border-size: 1px, $border-color: $secondary-color);
            @include hover-color($secondary-color);
        }
    }
}

.header-primary-menu {
    @include flex-all(column, center);

    @include respond-to($vp-mid) {
        flex-direction: row;
        justify-content: flex-end;

        .menu-item {
            @include flex-all($align: center);
            height: 50px;
        }
    }

    @include respond-to($vp-max) {
        .menu-item { height: 100px; }
    }
}

.header-secondary-menu { 
    @include respond-to($vp-mid) { display: none; }
}

.menu-toggle { 
    position: absolute;
    z-index: 999;
    top: 5px;
    right: 0;
    cursor: pointer; 

    svg { 
        width: 41px;
        height: 26px;
        fill: $primary-color;

        path  { transition: all .5s; }
    }
        
    #bar1 { transform: translateX(-8px); }
    #bar2 { transform: translateX(8px); }

    @include respond-to($vp-mid) {
        order: 2;
        display: block;
        position: relative;
        top: 0;
        right: 0;

        svg { fill: $color-over-primary; }
        
        #bar1 { transform: translateX(0); }
        #bar2 { transform: translateX(0); }

        @include hover {
            #bar1 { transform: translateX(-16px); }
            #bar2 { transform: translateX(16px); }
        }
    }
}

.footer-primary-menu-wrapper,
.footer-secondary-menu-wrapper { 
    margin: 2rem 0;
    text-align: center;

    .items-list {
        li { 
            display: block;

            a { 
                display: block;
                margin: 10px 0;
                font-weight: 300;
                text: {
                    transform: uppercase;
                    decoration: none;
                }
                color: $color-over-primary;
                letter-spacing: 12.3px; 
        
                @include hover-color($secondary-color);
            }
        }
    }

    @include respond-to($vp-large) { margin: 0; }
}

.footer-primary-menu-wrapper { 
    @include respond-to($vp-large) {
        order: 1; 
        text-align: left; 

        a {
            &:after {
                content: "+";
                margin-left: 5px;
            }
        }
    }
}

.footer-secondary-menu-wrapper { 
    @include respond-to($vp-large) { 
        order: 3; 
        text-align: right; 

        a {
            &:before {
                content: "+";
                margin-right: 5px;
            }
        }
    }
}

.footer-social-links-wrapper {
    margin-bottom: 1rem;

    .items-list { @include flex-all($justify: center, $wrap: wrap); }
    
    .menu-item { 
        margin: 0 1rem; 

        a {
            @include hover {
                svg { fill: $color-over-primary; }
            }
        }
    }

    svg {
        width: 24px;
        height: 24px;
        fill: $secondary-color;
        transition: fill .5s;
    }
}