.content-cards {
    position: relative;
    overflow: hidden;

    &:after, &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 50%;
        z-index: 100;
        border-bottom: 160px solid $c-grey-light;
        transform: rotate(0.000001deg);
    }

    &:before {
        right: calc(50% - 15px);
        border-right: 1000px solid transparent;
        border-left: 1000px solid;
    }

    &:after {
        left: calc(50% - 15px);
        border-left: 1000px solid transparent;
        border-right: 1000px solid;
    }

    .items-list { 
        margin-bottom: 90px; 
        padding: 0 .5rem;
    }

    .item {
        flex: 1;
        display: block;
        width: 100%;
        height: 300px;
        margin: .5rem 0;
        color: $c-white;
        @include bg-cover;

        @include mask-fullsize { background-color: rgba($c-black, .52); }

        &:first-child:before { background-color: rgba($fourth-color, .7); }
        &:last-child:before { background-color: rgba($tertiary-color, .7); }

        &[aria-selected="true"] {
            .item-inner { padding-bottom: 20%; }

            .action-plus {
                opacity: 1;
                visibility: visible;
                background-image: url(../images/btn-plus.png);
                transform: rotate(0deg);
            }
        }
        
        @include hover { outline: 0; }
    }

    .item-inner { 
        @include flex-all(column, space-between);
        position: relative; 
        padding: 15% 5% 5%;
        height: 100%;
        font-family: $secondary-font;
        transition: padding .5s;
    }

    .item-summary { width: 85%; }

    .price {        
        @include scale-font($small-ratio: .5, $final-size: 5.625rem); 
        line-height: 1;

        span { font-size: 0.65em; }
    }

    .type {
        font-size: 1.125rem;
        letter-spacing: .5rem;
    }

    .action-plus {
        position: absolute;
        z-index: 2;
        bottom: -42px;
        left: 16px;
        width: 108px;
        height: 101px;
        opacity: 0;
        visibility: hidden;
        transform: rotate(-45deg);
        transform-origin: 50% 50%;
        transition: all .5s ease-in-out;
    }

    .card-panel {
        display: none; 
        text-align: center;

        .name { line-height: 1; }
        
        .text { 
            @include scale-font($small-ratio: .5, $final-size: 1.625rem);
            @include flex-all($align: center);
            margin: 1rem 0 2rem;
            min-height: 100px;
            font-weight: 300;

            span {
                flex: 1;
                text-align: right;
                letter-spacing: 19.99px;

                &:nth-child(2) { 
                    flex: none;
                    margin: 0 4rem;

                    svg { fill: $secondary-color; }
                }

                &:nth-child(3) { 
                    text-align: left; 
                    letter-spacing: 0px;
                }
            }
        }

        .action-links-group { @include flex-all($justify: center); }
    }
    
    @include respond-to($vp-mid) {    
        .items-list {
            @include flex-all($align: center);
            padding: .5rem .25rem;
        }

        .item { 
            margin: 0 .25rem;
            transition: all .5s ;
        }

        .item-inner { padding: 5%; }
    }

    @include respond-to($vp-large) {
        padding: .5rem 0 11rem;

        .cards { @include width-constrain; }

        .items-list { padding: 0; }

        .type { letter-spacing: 1.125rem; }

        .card-panel {
            @include flex-all(column, center, center);
    
            &[hidden]{ 
                display: none; 
            }
        }
    }

    @include respond-to($vp-max) {
        padding: 12% 0 11rem;

        .items-list { height: 600px; }

        .item {
            flex: none;
            width: 407px;
            height: 513px;
            margin: 0;

            &[aria-selected="true"] {
                width: 29vw;
                height: 600px;
            }
        }
    }
}