.content-infographics {
    padding: { top: 6rem; bottom: 4rem; }
    background-color: $c-grey-light;

    .items-list { @include flex-all($justify: space-around, $wrap: wrap); }

    .item { margin: 2rem 0;}

    .item-inner { text-align: center; }

    .info-number {
        @include scale-font($small-ratio: .5, $final-size: 6.25rem);
        font-family: $secondary-font; 
        line-height: .75;
    }

    .info-text {
        @include scale-font($small-ratio: .5, $final-size: 1.625rem);
        position: relative;
        left: 20px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 20px;
        line-height: 1;
    }

    @include respond-to($vp-large) {
        .content-inner { @include width-constrain; }

        .items-list { justify-content: space-between; }
    }
}